thead {
  color: #337ab7;
}
.card-footer {
  border-top: 1px solid lightgrey;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
tr {
  border: none;
}
td {
  font-size: 12px;
  padding:0;

}

.total {
  font-size: 14px;
}
